@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9FAFB; /* neutral-lightGray */
  color: #1F2937; /* neutral-darkGray */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom scrollbar for a more modern look - optional */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #E5E7EB; /* neutral-mediumGray */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3B82F6; /* primary-blue */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #60A5FA; /* secondary-lightBlue */
}
